/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

h1{
    text-align: center;
    margin: 20px;
    font-size: 50px;
    color: white;
}

/* Lista */
main{
    padding: 30px;
}

.lista{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.lista li{
    width: 100px;
    height: 100px;
    text-align: center;
    padding-top: 30px;
}

/* Box */

.fizz-buzz{
    background-color: pink;
    color: violet;
}

.buzz{
    background-color: aquamarine;
    color: blue;
}

.fizz{
    background-color: darkviolet;
    color: white;
}

.numero{
    background-color: indigo;
    color: white;
}
